body {
    margin: 0;
    padding: 0;
    background-color: #FFE5CC;
}

.navbar {
    background-image: linear-gradient(to right, #77FF66, #1a2c16);
    margin-top: 0;
    width: 50%;
    height: 60px;
    margin: 0px auto;
    gap: 20px;
    display: flex;
    border-radius: 20px;
    text-align: center;
    margin-top: 50px;
    transition: 4s ease;
    text-align: center;
}

.navbar p {
    color: white;
    font-size: 29px;
    text-align: center;
    font-family: "Kanit", serif;
    margin: 0px auto;
    text-align: center;
}

.navbar a {
    margin: 0px auto;
}

.navbar:hover {
    border-radius: 22px;
    width: 55%;
    transition-delay: 1s;
    transition: 2s;
    animation: both;
    border: 5px solid;
}

#logo {
    display: block;
    margin: 0px auto;
    margin-top: 80px;
    height: 250px;
    border-radius: 20px;
    transition: 0.5s ease;
}

#logo:hover {
    border-radius: 50px;
    transition: 0.5s;
}

.nazev-container {
    text-align: center;
    margin-top: 3rem;
}

.nazev-container h1 {
    font-family: "Kanit", serif;
    font-size: 40px;
}

.nazev-container h2 {
    font-family: 'Kanit', serif;
    font-size: 32px;
    color: limegreen
}

.container-popisek {
    margin-top: 5rem;
    display: flex;
    /* Flexbox aktivní */
    justify-content: center;
    /* Horizontální zarovnání */
    align-items: center;
    /* Vertikální zarovnání */
    flex-direction: column;
    /* Ujistí se, že obsah půjde svisle */
    text-align: center;
}


.popisek {
    width: 15rem;
    font-family: "Kanit", serif;
    margin-top: 10px;
    text-align: center;
}

.text {
    justify-content: center;
    text-align: center;
    align-items: center;
}